<!--Header-->
    <section id="header">
      <div class="container">
        <div class="row header-text">
          <div class="col-sm-8 pull-right text-right">
           <div class="margin-100">
            <h1>香港廢物政策專題</h1>
            <h3 style="position:relative;z-index:3">香港每天棄置9,000公噸廢物，堆填區即將飽滿；<br/>三堆一爐、垃圾徵費，你知多少？<br/>政府藍圖2022年減廢四成，可行嗎？</h3>
           </div>
            <a href="#main1" class="btn btn-primary btn-lg">知道更多 <i class="fa fa-cloud-download"></i></a>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-4 text-center wow fadeInUp">
            <img class="header-img" src="http://funyeah.com/fun/photos/2007/Dirty_Can/050Large.jpg" alt="Header Image">
          </div>
        </div>
        
      </div>
    </section>
    
    
    <!--Main 1-->
    <section id="main1">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 margin-30">
            <h2>三堆一爐</h2><br />
            <p>xxxxx 即將飽滿，擴建堆填區和興建焚化爐。。。。。。。。。。。。。。。。（背景資料）</p><br />
            <blockquote>
             政府有否做好源頭減廢？焚化爐/堆填區／回收場成效。。。。。。。。。。。。。。。。。。。（延伸討論）
            </blockquote>
            <br />
            <a href="#" class="btn btn-secondary btn-lg">政策時序<i class="fa fa-calendar-o"></i></a>
            <a href="#" class="btn btn-secondary btn-lg">垃圾處理容量<i class="fa fa-bar-chart-o"></i></a>


          </div>
          
          <div class="col-sm-6 wow fadeInUpBig">
            <img class="main1-img img-responsive pull-right" src="http://www.epd.gov.hk/epd/misc/ehk03/eng/waste/images/waste_chart1_l.gif" alt="Main1 Image">
          </div>
        </div>
      </div>
    </section>
    
    <!--Main 2-->
    <section id="main2">
      <div class="container">
        <div class="row">
          
          <div class="col-sm-6 wow fadeInUpBig">
            <img class="main2-img pull-left" src="img/main2.png" alt="Main2 Image">
          </div>
        
          <div class="col-sm-6 margin-30">
            <h2>與其堆填，不如減廢！<br/>香港有做好嗎？</h2><br />
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p><br />
            
            <br />
            <a href="#" class="btn btn-secondary btn-lg">誰在製造垃圾？<i class="fa fa-dribbble"></i></a>
            <a href="#" class="btn btn-secondary btn-lg">垃圾徵費<i class="fa fa-dribbble"></i></a>
          </div>

        </div>
      </div>
    </section>
    
    <!--Message-->
    <section id="message">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2 class="white">想為環保出一分力？</h2>
            <a href="#" class="btn btn-primary btn-lg">環保貼士 <i class="fa fa-pagelines "></i></a>
          </div>
        </div>
      </div>
    </section>
    
    
    <!--Bottom-->
    <section id="bottom">
      <div class="container">
        
        <div class="row margin-40">
          <div class="col-sm-12 text-center">
            <ul class="list-inline social">
              <li class="wow slideInLeft" data-wow-delay="0.3s"><a href="#"><i class="fa fa-dribbble fa-2x"></i></a></li>
              <li class="wow slideInLeft" ><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
              <li class="wow slideInRight" ><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
              <li class="wow slideInRight" data-wow-delay="0.3s"><a href="#"><i class="fa fa-github fa-2x"></i></a></li>
            </ul>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-12 text-center">
          </div>
        </div>
        
      </div>
    </section>
    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <p><small>Copyright &copy; Perth. All rights reserved.</small></p>
          </div>
        </div>
      </div>
    </footer>
