
<style type="text/css">
    
.infograpics-header{
    color:black;
}
</style>
<snap-drawers> 
<div class="row" snap-drawer>
      <ul>
    <li><a href="#visualize-map">廢物地圖</a></li>
    <li><a href="#visualize-composition">廢物成份</a></li>
        <li><a href="#visualize-budget">政府處理廢物開支</a></li>
      </ul>
</div>
</snap-drawers> 
<div class="container" snap-content>
    <a class="btn btn-info btn-lg" snap-toggle="left"><-Menu</i></a>

    <div class="row">
    顯示Filter：
        <a href="#" class="btn btn-info btn-lg">環保園 </i></a>
        <a href="#" class="btn btn-info btn-lg">堆填區 </i></a>

    換算：
                <a href="#" class="btn btn-info btn-lg">更多堆填區 </i></a>
                <a href="#" class="btn btn-info btn-lg">更多回收站 </i></a>
    </div> 

    <div class="row">
        <div class="col-sm-6">
            <img style="width:100%;" src="images/tilelessmap.png"></img>
        </div>
        <div class="col-sm-6">
        <h3 class="infograpics-header">佔地：</h3> xxx公頃
        <h3 class="infograpics-header">處理量 ：</h3> xxx


        <h3 class="infograpics-header">總花費  ：</h3> xx萬
        佔總開支
        </div>
    </div>

</div>